<form action="/cart" method="post">
    <button class="btn" type="submit">Add to Cart</button>
   <input name="_csrf" value="<%= csrfToken %>" type="hidden"/>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>